html, body, #wrapper {
    height: 100%;
    width: 100%;       
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('background.png');
    background-repeat: repeat;
}


/* Flexbox wrapper so footer is always after this flex container */
#wrapper {
    margin:0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;    

}

/* Sets flex-grow flex-shrink and flex-basis to auto settings. Allows the flex container to grow and shrink.  */
#main-container {
    flex: 1;
}


/*  navbar */

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

nav {
    background-color: #ffffff;

    /* Important, don't know why */
    overflow: hidden;

    /* Navbar bottom border */
    border-bottom: solid;
    border-bottom-color: #4aaaa5;


    /* Needed to keep from disappearing on portfolio for some reason */
    min-height:44px;
}

/* Logo left side of navbar */
.logo {

    /* Logo box positioning */
    float: left;
    margin: 0;
    position: absolute;
    left: 140px;

    /* Logo box size, set to match li a */
    padding:  14px 18px;

    /* Logo colors and font */
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color:#4aaaa5;
    color:white;
}

/* List of links to other pages, ul acts like container for link list */
ul {
    /* Removes bulletpoints from list */
    list-style-type: none;
    
    /* List container positioning */
    float:right;
    margin-top: 0;
    margin-right: 5%;

    /* List container sizing. Determines navbar div height. Don't know why.  */
    padding: 14px 18px;   
}

li {
    /* Makes the list horizontal */
    display: inline-block;
}

/* Individual list items */
li a {
    /* Containers for individual links */
    padding: 14px 16px;
    background-color: #666666;
    color:#777777;
    text-decoration: none;
}


/* Navbar Link Color styling */


nav a:visited {
    text-decoration: none;
}

nav a:link {
    color: #777777;
}

nav a:hover {
    color: #4aaaa5;
}

.active {
    color:#4aaaa5;
}

/*  Container for main content  */
.main-section {

    float: left;
    /* Container size & color */
    width: 100%;
    max-width:960px;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;

    /* Container positioning */
    margin-top: 40px;

    /* Centers the container */
    margin-left: auto;
    margin-right: auto;

    /* Border around container */
    border-style: solid;
    border-width: 3px;
    border-color:#dddddd;
}

/* Header for *main* content */
header {

    /* Header box size */
    padding: 10px 0px 10px 50px;

    /* Header text style */
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#4aaaa5; 
    font-size: 38px;
}


/* My Profile Content */
.headshot { 

    /* Floats image so that text can sit next to it and wrap around/under it */
    float:left;

    /* Headshot styling */
    border-radius: 25px;
    margin: 10px 20px;
}


/* Spacing for the text on my profile page */
#profiletext {
    padding: 20px 20px;
}

#portfolio  {
    min-height: calc(80vh - 70px);
}

.work {
    position: relative;
    float: left;
    width: 200px;
    margin: 20px;
    overflow:hidden;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }



/* Contact form */

form {
    padding-left: 30px;
}

form * {
    margin: 10px 10px;
}


/*  Footer */
footer {

    /* Text & background styling */
    background-color:#666666;
    text-align: center;
    color: #444;

    /* Top Border */
    border-top: solid;
    border-top-width: 6px;
    border-top-color: #4aaaa5;

    /* Footer Size */
    width: 100%;
    height:  40px;
    margin-top: 20px;
    padding: 20px 0px 0px 0px;

}


@media only screen and (max-width: 980px) {
    .main-section {
        width: 800px;
    }
}

@media only screen and (max-width: 768px) {
    .main-section {
        width:600px;
    }
}

@media only screen and (max-width: 640px) {
    .main-section {
        width:480px;
    }

    .logo {
        position:fixed;
        margin-left:0;
        left:0;
        top:0;
        width:100%;
        text-align: center;
        overflow:hidden;
    }

    nav {
        border-bottom: none;
    }

    ul {
        position:fixed;
        margin-top:45px;
    }

    
}